.components {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

.hello {
    background-color: #ef4444;
    color: #ffffff;
    width: 50%;
    padding: 1rem;
}

.world {
    background-color: #10b981;
    color: #ffffff;
    width: 50%;
    padding: 1rem;
}
